.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  visibility: visible;
  max-width: 100% !important;
  z-index: 9999; }
  .lightbox:before {
    content: '';
    background: rgba(0, 27, 58, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .lightbox .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    margin: 16px;
    max-width: 50px;
    cursor: pointer; }
    .lightbox .close svg {
      max-width: 100%;
      fill: #fff; }
  .lightbox .lightbox_frame {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.3);
    transform: translate(-50%, -50%) scale(1.3);
    border: 0;
    background-color: black;
    max-width: 100% !important; }
    @media (max-width: 740px) {
      .lightbox .lightbox_frame {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1); } }
  .lightbox.hidden {
    display: none;
    visibility: hidden;
    opacity: 0; }

.sbx-custom {
  display: inline-block;
  position: relative;
  width: 500px;
  height: 40px;
  white-space: nowrap;
  box-sizing: border-box; }
  .sbx-custom__input {
    display: inline-block;
    transition: box-shadow .4s ease, background .4s ease, padding .4s ease;
    border: 0;
    border-radius: 0px;
    box-shadow: inset 0 0 0 3px #fff;
    padding: 0;
    padding-right: 40px;
    padding-left: 40px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    white-space: normal;
    font-size: 0.9em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
    .sbx-custom__input::-webkit-search-decoration, .sbx-custom__input::-webkit-search-cancel-button, .sbx-custom__input::-webkit-search-results-button, .sbx-custom__input::-webkit-search-results-decoration {
      display: none; }
    .sbx-custom__input:hover {
      box-shadow: inset 0 0 0 3px #e6e6e6; }
    .sbx-custom__input:focus, .sbx-custom__input:active {
      outline: 0;
      box-shadow: inset 0 0 0 3px #fff;
      background: #001B3A; }
    .sbx-custom__input::-webkit-input-placeholder {
      color: #EEE; }
    .sbx-custom__input::-moz-placeholder {
      color: #EEE; }
    .sbx-custom__input:-ms-input-placeholder {
      color: #EEE; }
    .sbx-custom__input::placeholder {
      color: #EEE; }
  .sbx-custom__submit {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    border: 0;
    border-radius: 0px 0 0 0px;
    background-color: rgba(62, 130, 247, 0);
    padding: 0;
    width: 40px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    .sbx-custom__submit::before {
      display: inline-block;
      margin-right: -4px;
      height: 100%;
      vertical-align: middle;
      content: ''; }
    .sbx-custom__submit:hover, .sbx-custom__submit:active {
      cursor: pointer; }
    .sbx-custom__submit:focus {
      outline: 0; }
    .sbx-custom__submit svg {
      width: 24px;
      height: 24px;
      vertical-align: middle;
      fill: #fff; }
  .sbx-custom__reset {
    display: none;
    position: absolute;
    top: 8px;
    right: 8px;
    margin: 0;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    fill: rgba(0, 0, 0, 0.5); }
    .sbx-custom__reset:focus {
      outline: 0; }
    .sbx-custom__reset svg {
      display: block;
      margin: 4px;
      width: 16px;
      height: 16px; }
  .sbx-custom__input:valid ~ .sbx-custom__reset {
    display: block;
    -webkit-animation-name: sbx-reset-in;
    animation-name: sbx-reset-in;
    -webkit-animation-duration: .15s;
    animation-duration: .15s; }

@-webkit-keyframes sbx-reset-in {
  from {
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

@keyframes sbx-reset-in {
  from {
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
    opacity: 0; }
  to {
    -webkit-transform: none;
    transform: none;
    opacity: 1; } }

.fade {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

:root {
  font-size: calc(.65rem + .3vw + .3vh); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Exo 2', sans-serif;
  font-weight: 800;
  background: url("img/levis-stadium.jpg") no-repeat center top #07132A; }

.container-fluid {
  float: left;
  width: 100%;
  max-width: 100%;
  position: relative;
  transition: opacity 1s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 1s ease;
  transition: transform 1s ease, opacity 1s ease, -webkit-transform 1s ease; }
  @media (max-width: 740px) {
    .container-fluid {
      padding: 0 12px; } }
  .container-fluid.no-scroll {
    position: relative;
    right: 40px;
    height: 100vh;
    overflow: hidden;
    opacity: 0;
    -webkit-transform: translateX(-80vw);
    transform: translateX(-80vw); }

header {
  position: relative;
  z-index: 5;
  float: left;
  width: 100%; }
  header h1 {
    text-align: center;
    color: #fff;
    margin: 20px 0 0;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 8vw;
    margin: 10px 0 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff; }
    @supports (-webkit-background-clip: text) {
      header h1 {
        position: relative;
        text-align: center;
        color: transparent; }
        header h1::after {
          content: attr(datatext);
          background: -webkit-linear-gradient(#ff0e32, #1768ce);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-shadow: none;
          position: absolute;
          z-index: 99;
          left: 0;
          right: 0;
          top: 0;
          text-align: center; } }
    @media (max-width: 740px) {
      header h1 {
        display: none; } }

.searchbox {
  max-width: 420px;
  margin: 16px auto 20px;
  display: block;
  width: calc(100% - 130px); }
  @media (max-width: 740px) {
    .searchbox {
      margin: 16px 0;
      width: calc(100% - 40px); } }
  .searchbox .sbx-custom__input {
    color: #fff;
    box-shadow: 0 2px #fff;
    background: transparent;
    font-weight: bold;
    text-transform: uppercase; }
  .searchbox .sbx-custom__input:focus {
    box-shadow: 0 2px #fff; }
  .searchbox .sbx-custom__reset {
    fill: #fff; }
  .searchbox .sbx-custom__filters {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 8px;
    right: -120px; }
    @media (max-width: 740px) {
      .searchbox .sbx-custom__filters {
        right: -40px; } }
    .searchbox .sbx-custom__filters span {
      color: #fff;
      font-size: 1.8em;
      text-transform: uppercase; }
      @media (max-width: 740px) {
        .searchbox .sbx-custom__filters span {
          display: none; } }
    .searchbox .sbx-custom__filters:focus {
      outline: 0; }
    .searchbox .sbx-custom__filters svg {
      width: 20px;
      height: 20px;
      fill: #fff;
      margin-right: 8px; }

main {
  max-width: calc(80% + .5em);
  margin: auto; }
  @media (max-width: 740px) {
    main {
      max-width: 100%; } }

#results {
  display: block;
  clear: both; }

.filters {
  left: 0;
  right: 0;
  height: 76px;
  padding: 16px; }
  .filters a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff; }

.tabs {
  list-style: none;
  display: block;
  width: 190px;
  border: solid 2px #fff;
  padding: 0;
  margin: 0 auto;
  border-radius: 30px;
  overflow: hidden; }
  .tabs a {
    display: inline-block;
    font-size: .9em;
    width: 50%;
    padding: 8px 0;
    text-align: center; }
  .tabs .active {
    color: black;
    background-color: #fff; }

.tab-panel {
  display: none; }
  .tab-panel.active {
    display: block; }
  .tab-panel .searchbox {
    width: 300px;
    margin: 0 auto; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  margin: 0;
  transition: opacity 1s ease, -webkit-transform .4s ease-in;
  transition: transform .4s ease-in, opacity 1s ease;
  transition: transform .4s ease-in, opacity 1s ease, -webkit-transform .4s ease-in;
  opacity: 1; }
  .overlay .overlay-content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    color: #fff;
    -webkit-overflow-scrolling: touch; }
  .overlay.hide {
    opacity: 0;
    display: block !important;
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); }
  .overlay .close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-weight: 400;
    font-size: 1.1em;
    text-transform: uppercase;
    z-index: 9000;
    padding: 24px 24px 12px 12px; }

.blur {
  -webkit-filter: blur(3px);
  filter: blur(3px); }

.hide {
  display: none !important; }

#refinements {
  clear: both;
  padding: 12px 0; }
  #refinements > li, #refinements div {
    list-style: none;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
    text-transform: uppercase;
    margin-right: 8px;
    -webkit-user-select: inherit;
    -moz-user-select: inherit;
    -ms-user-select: inherit;
    user-select: inherit; }
    #refinements > li a, #refinements div a {
      color: #fff;
      text-decoration: none; }
      #refinements > li a div, #refinements div a div {
        display: inline-block; }
      #refinements > li a svg, #refinements div a svg {
        display: inline;
        vertical-align: middle;
        width: 18px;
        height: 18px;
        top: -2px;
        position: relative;
        fill: #00A3FF; }
  #refinements .ais-current-refined-values--list svg {
    fill: #BD245E; }

.items, .ais-refinement-list--list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 30px; }

.items li, .ais-refinement-list--item {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background: rgba(6, 19, 43, 0.8);
  box-shadow: inset 0 0 0 1px #00A3FF;
  text-align: center;
  display: inline-block;
  margin: 2px;
  padding: 10px 12px;
  font-size: 1.2em;
  font-weight: 400; }
  .items li:hover, .ais-refinement-list--item:hover {
    background: rgba(0, 163, 255, 0.5); }
  .items li em, .ais-refinement-list--item em {
    font-style: normal;
    font-weight: 800; }

.ais-refinement-list--item {
  width: 100%; }

.ais-refinement-list--item__active {
  color: #fff;
  background: rgba(23, 104, 206, 0.3); }

.ais-hits {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 .5vw .5vw 0;
  background-color: rgba(2, 19, 43, 0.8);
  margin-bottom: 120px;
  display: flex;
  -webkit-flex-flow: wrap;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .ais-hits .ais-hits--item {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 15vw;
    overflow: hidden;
    margin: .5vw 0 0 .5vw;
    -webkit-animation: fade .2s ease-in;
    animation: fade .2s ease-in;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    font-size: 1.1em; }
    .ais-hits .ais-hits--item:nth-child(1) {
      -webkit-animation-delay: 0.01s;
      animation-delay: 0.01s; }
    .ais-hits .ais-hits--item:nth-child(2) {
      -webkit-animation-delay: 0.02s;
      animation-delay: 0.02s; }
    .ais-hits .ais-hits--item:nth-child(3) {
      -webkit-animation-delay: 0.03s;
      animation-delay: 0.03s; }
    .ais-hits .ais-hits--item:nth-child(4) {
      -webkit-animation-delay: 0.04s;
      animation-delay: 0.04s; }
    .ais-hits .ais-hits--item:nth-child(5) {
      -webkit-animation-delay: 0.05s;
      animation-delay: 0.05s; }
    .ais-hits .ais-hits--item:nth-child(6) {
      -webkit-animation-delay: 0.06s;
      animation-delay: 0.06s; }
    .ais-hits .ais-hits--item:nth-child(7) {
      -webkit-animation-delay: 0.07s;
      animation-delay: 0.07s; }
    .ais-hits .ais-hits--item:nth-child(8) {
      -webkit-animation-delay: 0.08s;
      animation-delay: 0.08s; }
    .ais-hits .ais-hits--item:nth-child(9) {
      -webkit-animation-delay: 0.09s;
      animation-delay: 0.09s; }
    .ais-hits .ais-hits--item:nth-child(10) {
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s; }
    .ais-hits .ais-hits--item:nth-child(11) {
      -webkit-animation-delay: 0.11s;
      animation-delay: 0.11s; }
    .ais-hits .ais-hits--item:nth-child(12) {
      -webkit-animation-delay: 0.12s;
      animation-delay: 0.12s; }
    .ais-hits .ais-hits--item:nth-child(13) {
      -webkit-animation-delay: 0.13s;
      animation-delay: 0.13s; }
    .ais-hits .ais-hits--item:nth-child(14) {
      -webkit-animation-delay: 0.14s;
      animation-delay: 0.14s; }
    .ais-hits .ais-hits--item:nth-child(15) {
      -webkit-animation-delay: 0.15s;
      animation-delay: 0.15s; }
    .ais-hits .ais-hits--item:nth-child(16) {
      -webkit-animation-delay: 0.16s;
      animation-delay: 0.16s; }
    .ais-hits .ais-hits--item:nth-child(17) {
      -webkit-animation-delay: 0.17s;
      animation-delay: 0.17s; }
    .ais-hits .ais-hits--item:nth-child(18) {
      -webkit-animation-delay: 0.18s;
      animation-delay: 0.18s; }
    .ais-hits .ais-hits--item:nth-child(19) {
      -webkit-animation-delay: 0.19s;
      animation-delay: 0.19s; }
    .ais-hits .ais-hits--item:nth-child(20) {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s; }
    .ais-hits .ais-hits--item:nth-child(21) {
      -webkit-animation-delay: 0.21s;
      animation-delay: 0.21s; }
    .ais-hits .ais-hits--item:nth-child(22) {
      -webkit-animation-delay: 0.22s;
      animation-delay: 0.22s; }
    .ais-hits .ais-hits--item:nth-child(23) {
      -webkit-animation-delay: 0.23s;
      animation-delay: 0.23s; }
    .ais-hits .ais-hits--item:nth-child(24) {
      -webkit-animation-delay: 0.24s;
      animation-delay: 0.24s; }
    .ais-hits .ais-hits--item:nth-child(25) {
      -webkit-animation-delay: 0.25s;
      animation-delay: 0.25s; }
    .ais-hits .ais-hits--item:nth-child(26) {
      -webkit-animation-delay: 0.26s;
      animation-delay: 0.26s; }
    .ais-hits .ais-hits--item:nth-child(27) {
      -webkit-animation-delay: 0.27s;
      animation-delay: 0.27s; }
    .ais-hits .ais-hits--item:nth-child(28) {
      -webkit-animation-delay: 0.28s;
      animation-delay: 0.28s; }
    .ais-hits .ais-hits--item:nth-child(29) {
      -webkit-animation-delay: 0.29s;
      animation-delay: 0.29s; }
    .ais-hits .ais-hits--item:nth-child(30) {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s; }
    .ais-hits .ais-hits--item:nth-child(31) {
      -webkit-animation-delay: 0.31s;
      animation-delay: 0.31s; }
    .ais-hits .ais-hits--item:nth-child(32) {
      -webkit-animation-delay: 0.32s;
      animation-delay: 0.32s; }
    .ais-hits .ais-hits--item:nth-child(33) {
      -webkit-animation-delay: 0.33s;
      animation-delay: 0.33s; }
    .ais-hits .ais-hits--item:nth-child(34) {
      -webkit-animation-delay: 0.34s;
      animation-delay: 0.34s; }
    .ais-hits .ais-hits--item:nth-child(35) {
      -webkit-animation-delay: 0.35s;
      animation-delay: 0.35s; }
    .ais-hits .ais-hits--item:nth-child(36) {
      -webkit-animation-delay: 0.36s;
      animation-delay: 0.36s; }
    .ais-hits .ais-hits--item:nth-child(37) {
      -webkit-animation-delay: 0.37s;
      animation-delay: 0.37s; }
    .ais-hits .ais-hits--item:nth-child(38) {
      -webkit-animation-delay: 0.38s;
      animation-delay: 0.38s; }
    .ais-hits .ais-hits--item:nth-child(39) {
      -webkit-animation-delay: 0.39s;
      animation-delay: 0.39s; }
    .ais-hits .ais-hits--item:nth-child(40) {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s; }
    .ais-hits .ais-hits--item:nth-child(41) {
      -webkit-animation-delay: 0.41s;
      animation-delay: 0.41s; }
  .ais-hits.ais-hits__empty {
    padding-top: 80px;
    font-size: 1.2em;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    background: transparent; }
    .ais-hits.ais-hits__empty h2,
    .ais-hits.ais-hits__empty h3 {
      font-weight: 400; }

.hit {
  height: 110px;
  display: block;
  text-decoration: none;
  transition: background-size .2s ease;
  cursor: pointer;
  color: #fff;
  padding: 8px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  background-color: rgba(63, 151, 243, 0.6);
  background-blend-mode: soft-light; }
  @media (max-width: 740px) {
    .hit {
      height: 90px; } }
  .hit:hover {
    background-color: #4D4E4E;
    background-size: 120%;
    transition: background-color .25s, background-size .1s ease;
    blend-mode: hard-light; }
    .hit:hover::after {
      opacity: 0; }

.hit-brand {
  font-size: 1.2em;
  font-weight: 800;
  margin-right: 40px;
  white-space: nowrap;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 black; }
  .hit-brand em {
    font-style: normal;
    font-weight: 800;
    text-decoration: underline; }

.hit-season {
  display: inline-block;
  font-size: .8em;
  border-radius: 10px;
  padding: 2px 8px;
  width: 100%;
  text-align: right;
  position: absolute;
  bottom: 8px;
  right: 8px; }

.button {
  font-style: 16px; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 16px;
  text-align: center;
  color: #fff;
  background: #001939;
  min-height: 65px;
  line-height: 55px;
  font-weight: 400; }
  @media (max-width: 740px) {
    footer {
      width: calc(100% + 32px);
      left: -16px; } }
  footer span {
    text-indent: -9999px;
    background: url("../img/Algolia_logo_bg-dark.svg") no-repeat center center/contain;
    color: transparent; }

@-webkit-keyframes fade {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes fade {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0; }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in; }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px); } }
