!!! 5
%head
  %meta{charset: "UTF-8"}
  %title search with instantsearch.js
  %link{href: "app.css", rel: "stylesheet", type: "text/css"}
  %link{href: "https://fonts.googleapis.com/css?family=Exo+2:400,900", rel: "stylesheet", type: "text/css"}
  %link{rel:"icon", type:"image/png", href:"favicon.png"}
  %link{rel:"shortcut icon", type:"image/png", href:"favicon.png"}
  %meta{name:"viewport", content:"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"}
  %meta{name: "twitter:card", content: "summary"}
  %meta{name: "twitter:site", content: "@AlgoliaSuperbowl"}
  %meta{name: "twitter:creator", content: "@Algolia"}
  %meta{property: "og:url", content: "https://community.algolia.com/instantsearch.js/"}
  %meta{property: "og:title", content: "SUPERBOWL ADS"}
  %meta{property: "og:description", content: "Superbowl Ads is an Algolia experiment that will help you to browse through the history of the superbowl, by selecting and watching superbowl ads. The ads are from the first ever Superbowl, to the latest!"}
  %meta{property: "og:image", content: "http://graphics8.nytimes.com/images/2011/12/08/technology/bits-newtwitter/bits-newtwitter-tmagArticle.jpg"}

%body
  .container-fluid
    %header
      %h1 SuperBowl Ads
      %form.searchbox.sbx-custom{role: "search", novalidate: true, onsubmit="return false;"}
        %input#search.sbx-custom__input{type: "search", placeholder: "Search for a commercial ad or brand", autocomplete: "off", required: true, spellcheck: false}
        %button.sbx-custom__submit{type: "submit"}
          %svg{role: "img", aria-label: "Search"}
            %title Icon Search
            %use{xlink:href: "#sbx-icon-search-6"}
        %button.sbx-custom__reset{type: "reset"}
          %svg{role: "img", aria-label: "Reset"}
            %title Icon Reset
            %use{xlink:href: "#sbx-icon-clear-3"}

      %div{class: "filters"}
        %div#years

          / Js: focus search input after reset
          :javascript
             document.querySelector('.searchbox [type="reset"]').addEventListener('click', function() {
               this.parentNode.querySelector('input').focus();
             });

          %script#hit-template{type: "text/template"}
            %a.hit.fade{href: "#",dataid: "https://www.youtube.com/watch?v={{objectID}}", style: "background-image: url('{{thumbnails.high.url}}')"}
              .hit-brand {{{brand}}}
              .hit-season {{year}} - {{sbYear}}

    %main
      -# %section
      -#   .sort-by
      -#     %label Sort by
      -#     #sort-by-selector
      -#   .sort-by
      -#     %label Filter by
      -#     //
        #stats.text-muted
      %section#results
      %section#pagination
  %script{src:  "js/app.js"}

  .svg-icons{style: "height: 0; width: 0; position: absolute; visibility: hidden"}
    <!-- inject:svg --><!-- endinject -->
