.sbx-custom__filters {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  top: -2px;
  right: - 120px;
  margin: 6px;
  user-select: none;
  cursor: pointer;

  @media (max-width: $bp-small) {
    right: - 59px;
  }

  span {
    color: #fff;
    font-size: 1.6em;
    text-transform: uppercase;
    @media (max-width: $bp-small) {
      display: none;
    }
  }

  &:focus {
    outline: 0;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: #fff;
    position: relative;
    top: 4px;
    margin-right: 8px;
    @media (max-width: $bp-small) {
      width: 30px;
      height: 30px;
    }
  }
}

.filters {
  left: 0;
  right: 0;
  padding: 5vw 0 4vw;

  a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
  }
}

.tabs {
  list-style: none;
  display: block;
  width: 190px;
  box-shadow: 0 0 0 1px #fff, inset 0 0 0 1px #fff;
  margin: 0 auto;
  border-radius: 30px;
  overflow: hidden;

  a {
    display: inline-block;
    font-size: .9em;
    width: 50%;
    padding: 8px 0 10px;
    text-align: center;
  }

  .active {
    color: black;
    background-color: #fff;
  }
}

.ais-menu {
  animation: fadeleft .2s ease;
}
.menu {
  animation: faderight .2s ease;
}


.tab-panel {
  display: none;
  visibility: hidden;
  max-width: 800px ;
  margin: 0 auto;
  &.active {
    visibility: visible;
    display: block;
    transform: translateX(0);
  }

  .searchbox {
    width: 300px;
    margin: 0 auto;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  margin: 0;
  transition: transform .3s ease-in, opacity .6s ease;
  opacity: 1;

  .overlay-content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    color: #fff;
    -webkit-overflow-scrolling: touch;
  }

  &.hide {
    opacity: 0;
    display: block !important;
    transform: translateX(100vw);
  }

  .close {
    position: absolute;
    user-select: none;
    top: 0;
    right: 0;
    color: #fff;
    font-weight: 400;
    font-size: 1.1em;
    text-transform: uppercase;
    z-index: 9000;
    background-color: transparent;
    padding: 24px 24px 12px 12px;
    cursor: pointer;
    border: 0;

    &:focus {
      outline: 0;
    }
  }
}
