.poweredby {
  color: white;
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 0 40px;
  .algolia {
    position: relative;
    display: inline-block;
    height: 20px;
    top: -1px;
    width: 70px;
    text-indent: -9999px;
    background: url('img/algolia-dark.svg') no-repeat center center / contain;
    color: transparent;
  }
}


.KOOL {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 20px;
  &::after {
    position: absolute;
    top: 3px;
    left: 6px;
    font-size: 1.2em;
    content: '<3';
    color: white;
  }
  svg {
    display: none;
  }
  &:hover{
    &::after {
      display: none;
    }
    svg {
      position: absolute;
      display: block;
      top: 5px;
      left: 8px;
      animation: bounce .2s ease-in;
      width: 20px;
      height: 20px;
      fill: $ais_red;
    }
  }
}
