#results {
  display: block;
  clear: both;
  min-height: 800px;
}

.ais-hits {
  padding: 0 .5vw .5vw 0;
  background-color: rgba(#02132B,.8);
  @include flex-setting();

  .ais-hits--item {
    flex-grow: 1;
    min-width: 15vw;
    overflow: hidden;
    margin: .5vw 0 0 .5vw;
    animation: flipInX .6s linear;
    animation-fill-mode: backwards;
    font-size: 1.1em;

    @for $i from 1 to 32 {
      &:nth-child(#{$i}) {
        animation-delay: $i * .01s;
      }
    }
  }
}

.hit {
  height: 140px;
  display: block;
  text-decoration: none;
  transition: opacity .4s ease, background-color .5s ease, background-size .1s ease-in;
  cursor: pointer;
  color: #fff;
  padding: 4px 8px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  background-color: rgba(#3F97F3, .6);
  background-blend-mode: soft-light;
  opacity: 0.4;

  &.loaded {
    opacity: 1;
  }

  @media (max-width: $bp-small) {
    height: 90px;
    background-position: center 40%;
    background-size: 100%;
    background-color: rgba(#3F97F3, .4);;
  }

  &:hover {
    background-color: rgba(#B82763,.2);
    background-blend-mode: soft-light;
    background-size: 130%;
  }
}

.hit-brand {
  position: relative;
  font-size: .85em;
  font-weight: 800;
  margin-right: 70px;
  white-space: nowrap;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 black;
  pointer-events: none;

  em {
    font-style: normal;
    font-weight: 800;
    color: #FF2682;
  }
}

.hit-name {
  position: relative;
  font-size: .8em;
  text-shadow: 0 0 6px #2B8DF4, 0 1px 2px black;
  background-image: linear-gradient(60deg, rgba(#04328D,.6), rgba(#04328D,0) 90%,rgba(#04328D,0));
  display: inline-block;
  padding: 0 10px 2px 8px;
  margin-left: -8px;
  pointer-events: none;

  em {
    color: #FF2682;
    font-style: normal;
  }
}

.hit-season {
  display: inline-block;
  font-size: .7em;
  border-radius: 10px;
  padding: 2px 8px;
  width: 100%;
  text-align: right;
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-weight: 800;
  pointer-events: none;
}

.hit-tag {
  max-width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #0A132B;
  display: inline-block;
  font-size: .6em;
  text-transform: uppercase;
  position: absolute;
  bottom: 4px;
  left: 4px;
  font-weight: 800;
  background-color: white;
  padding: 0 .5em 2px;
  pointer-events: none;
  em {
    font-style: normal;
  }
  &:empty {
    display: none;
  }
}

.ais-hits__empty {
  display: block;
  min-height: 70vh;
  background: transparent;
  padding-top: 10px;
  @media (max-width: $bp-small) {
    padding-top: 60px;
  }
  .no-results {
    padding: 1.4em 0;
    font-size: 1.1em;
    display: block;
    width: 360px;
    margin: 0 auto;
    text-align: center;
    color: white;
    h2 {
      margin-bottom: .4em;
    }
  }
}
