$bp-regular: 960px;
$bp-small: 740px;

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  visibility: visible;
  max-width: 100% !important;
  z-index: 12;

  &:before {
    content: '';
    background: rgba(#001B3A, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  // Lightbox close
  .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    margin: 16px;
    max-width: 50px;
    cursor: pointer;

    svg {
      max-width: 100%;
      fill: #fff;
    }
  }

  // Lightbox iframe
  .lightbox_frame {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.3);
    border: 0;
    background-color: black;
    box-shadow: 0 0 40px black;
    max-width: 100% !important;

    @media (max-width: $bp-small) {
      transform: translate(-50%, -50%) scale(1);
    }

  }

  &.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
