@charset 'utf-8';

@import 'searchbox', 'lightbox';

@mixin clearfix {
  &::after {
    display: table;
    clear: both;
    content: '';
  }
}

@mixin flex-setting {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-between;
}

$sb_blue: #0F4589;
$sb_red: #C0001D;
$ais_blue: lighten($sb_blue, 15%);
$ais_red: lighten($sb_red, 15%);
$bp-regular: 960px;
$bp-small: 740px;

$custom: (
  input-width: 500px,
  input-height: 40px,
  border-width: 3px,
  border-radius: 0px,
  input-border-color: #fff,
  input-focus-border-color: #fff,
  input-background: #001B3A,
  input-focus-background: #001B3A,
  font-size: .9em,
  placeholder-color: #EEE,
  icon-size: 24px,
  icon-position: left,
  icon-color: #fff,
  icon-background: #3e82f7,
  icon-background-opacity: 0,
  icon-clear-size: 16px
);

.sbx-custom {
  @include searchbox($custom...);
}

.poweredby {
  color: white;
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 0 10px;
  .algolia {
    position: relative;
    display: inline-block;
    height: 20px;
    top: -1px;
    width: 70px;
    text-indent: -9999px;
    background: url('img/algolia-dark.svg') no-repeat center center / contain;
    color: transparent;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 200ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

:root {
  font-size: calc(.65rem + .3vw + .3vh);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Exo 2', sans-serif;
  font-weight: 800;
  background: url('img/levis-stadium.jpg') no-repeat center top #07132A;
}

.container-fluid {
  float: left;
  width: 100%;
  max-width: 100%;
  position: relative;
  transition: transform .5s ease, opacity 1s ease;

  @media (max-width: $bp-small) {
    padding: 0 12px;
  }

  &.no-scroll {
    position: relative;
    right: 40px;
    height: 100vh;
    overflow: hidden;
    opacity: 0;
    perspective: 300px;
    transform-style: preserve-3d;
    transform: translateX(-30vh);
    transition: transform .7s ease-out, opacity 1 ease-out;
    .github-source {
      display: none;
      visibility: hidden;
    }
  }
}

.github-source {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  @media (max-width: $bp-small) {
    display: none;
  }

  svg {
    opacity: 1;
    width: 80px;
    height: 80px;
    fill: white;
  }
}

header {
  position: relative;
  z-index: 5;
  float: left;
  width: 100%;
  h1 {
    animation: flipInX .6s ease-in;
    padding: 30px 0 0;
    text-align: center;
    color: #fff;
    @media (max-width: $bp-small) {
      display: none;
    }
  }
}

.searchbox {
  max-width: 420px;
  margin: 16px auto 20px;
  display: block;
  width: calc(100% - 130px);

  @media (max-width: $bp-small) {
    margin: 16px 0;
    max-width: inherit;
    width: calc(100% - 60px);
  }

  .sbx-custom__input {
    color: #fff;
    box-shadow: 0 2px #fff;
    background: transparent;
    font-weight: bold;
    text-transform: uppercase;
  }

  .sbx-custom__input:focus {
    box-shadow: 0 2px #fff;
  }

  .sbx-custom__input:focus ~ .sbx-custom__submit {
    animation: bounce .3s ease-in;
  }

  .sbx-custom__reset {
    fill: #fff
  }

  .sbx-custom__filters {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: -2px;
    right: - 120px;
    margin: 6px;
    user-select: none;

    @media (max-width: $bp-small) {
      right: - 59px;
    }

    span {
      color: #fff;
      font-size: 1.6em;
      text-transform: uppercase;
      @media (max-width: $bp-small) {
        display: none;
      }
    }

    &:focus {
      outline: 0;
    }

    svg {
      width: 24px;
      height: 24px;
      fill: #fff;
      position: relative;
      top: 4px;
      margin-right: 8px;
      @media (max-width: $bp-small) {
        width: 30px;
        height: 30px;
      }
    }
  }
}

main {
  max-width: calc(80% + .5em);
  margin: auto;

  @media (max-width: $bp-small) {
    max-width: 100%;
  }
}

#results {
  display: block;
  clear: both;
}

.filters {
  left: 0;
  right: 0;
  height: 76px;
  padding: 16px;

  a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
  }
}

.tabs {
  list-style: none;
  display: block;
  width: 190px;
  box-shadow: 0 0 0 1px #fff, inset 0 0 0 1px #fff;
  margin: 0 auto;
  border-radius: 30px;
  overflow: hidden;

  a {
    display: inline-block;
    font-size: .9em;
    width: 50%;
    padding: 8px 0 10px;
    text-align: center;
  }

  .active {
    color: black;
    background-color: #fff;
  }
}

.tab-panel {
  display: none;
  &.active {
    display: block;
  }
  .searchbox {
    width: 300px;
    margin: 0 auto;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  margin: 0;
  transition: transform .3s ease-in, opacity .6s ease;
  opacity: 1;

  .overlay-content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    color: #fff;
    -webkit-overflow-scrolling: touch;
  }

  &.hide {
    opacity: 0;
    display: block !important;
    transform: translateX(100vw);
  }

  .close {
    position: absolute;
    user-select: none;
    top: 0;
    right: 0;
    color: #fff;
    font-weight: 400;
    font-size: 1.1em;
    text-transform: uppercase;
    z-index: 9000;
    padding: 24px 24px 12px 12px;
    }
}

.hide {
  display: none !important;
}

#refinements {
  clear: both;
  padding: 12px .5vw;

  > li, div {
    list-style: none;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
    text-transform: uppercase;
    margin-right: 8px;
    user-select: inherit;

    a {
      color: #fff;
      text-decoration: none;

      div {
        display: inline-block;
      }

      svg {
        display: inline;
        vertical-align: middle;
        width: 18px;
        height: 18px;
        top: -2px;
        position: relative;
        fill: #00A3FF;
      }
    }
  }

  .ais-current-refined-values--list {
    svg {
      fill: #BD245E;
    }
  }
}

.items, .ais-refinement-list--list, .ais-menu--list{
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 30px;
}

.items li, .ais-refinement-list--item, .ais-menu--item{
  flex-grow: 1;
  background: rgba(#06132B,.8);
  box-shadow: inset 0 0 0 1px #00A3FF;
  text-align: center;
  display: inline-block;
  margin: 2px;
  padding: 10px 12px;
  font-size: 1.2em;
  font-weight: 400;

  &:hover {
    text-shadow: 0 0 5px white;
    background: rgba(#00A3FF,.5);
  }

  em {
    font-style: normal;
    font-weight: 800;
  }
}

.ais-refinement-list--item, .ais-menu--item {
  width: 100%
}

.ais-refinement-list--item__active, .ais-menu--item__active {
  color: #fff;
  background: rgba($ais_blue,.3);
}

.ais-hits {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 .5vw .5vw 0;
  background-color: rgba(#02132B,.8);
  margin-bottom: 120px;
  @include flex-setting();

  .ais-hits--item {
    flex-grow: 1;
    min-width: 15vw;
    overflow: hidden;
    margin: .5vw 0 0 .5vw;
    animation: flipInX .5s linear;
    animation-fill-mode: backwards;
    font-size: 1.1em;
    @for $i from 1 to 42 {

      &:nth-child(#{$i}) {
        animation-delay: $i * .01s;
      }
    }
  }

  &.ais-hits__empty {
    padding-top: 80px;
    font-size: 1.2em;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    background: transparent;

    h2,
    h3 {
      font-weight: 400;
    }
  }
}

.hit {
  height: 110px;
  display: block;
  text-decoration: none;
  transition: background-size .2s ease;
  cursor: pointer;
  color: #fff;
  padding: 4px 8px;
  position: relative;
  background: {
    repeat: no-repeat;
    position: center;
    size: 110%;
    color: rgba(#3F97F3, .6);
    blend-mode: soft-light;
  }
  @media (max-width: $bp-small) {
    height: 90px;
    background-color: rgba(#3F97F3, .4);;
  }

  &:hover {
    background-color: #4D4E4E;
    background-size: 120%;
    transition: background-color .25s, background-size .1s ease;
    blend-mode: hard-light;
    .hit-name {
      background-image: linear-gradient(45deg, black, rgba(#04328D,0));
    }
  }

}

.hit-brand {
  font-size: .9em;
  font-weight: 800;
  margin-right: 100px;
  white-space: nowrap;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 black;

  em {
    font-style: normal;
    font-weight: 800;
    color: #FF2682;
  }
}

.hit-name {
  font-size: .85em;
  font-weight: 400;
  text-shadow: 0 0 6px #2B8DF4, 1px 1px 2px black;
  background-image: linear-gradient(45deg, #04328D, rgba(#04328D,0));
  display: inline-block;
  padding: 2px 6px 2px 8px;
  margin-left: -8px;

  em {
    color: #FF2682;
    font-style: normal;
  }
}

.hit-season {
  display: inline-block;
  font-size: .8em;
  border-radius: 10px;
  padding: 2px 8px;
  width: 100%;
  text-align: right;
  position: absolute;
  bottom: 4px;
  right: 4px;
}

@keyframes bounce {

  0% {
    transform: scale(.6);
  }

  40% {
    transform: scale(.8);
  }

  60% {
    transform: scale(1.1);
  }

  80% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes flipInX {
  0% {
    opacity: 0;

  }
  20% {
    opacity: 0;
    transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
    transition-timing-function: ease-in;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, 20deg);
    opacity: 1;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, -10deg);
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
  }

  100% {
    transform: perspective(400px);
  }
}
